daliuge-engine>=5.0
daliuge-translator>=5.0
dlg_paletteGen
pytest~=8.3.5
setuptools~=80.6.0
pandas~=2.2.3
casatools~=6.7.0.31
casaplotms~=2.6.2
casatasks~=6.7.0.31
jsonschema~=4.23.0
GPUtil~=1.4.0
psutil~=7.0.0
dill~=0.3.9
netifaces~=0.11.0
crc32c~=2.7.1
requests~=2.32.3
docker~=7.1.0
overrides~=7.7.0
configobj~=5.0.9
boto3~=1.37.27
botocore~=1.37.27
networkx~=3.4.2
PyYAML~=6.0.2
paramiko~=3.5.1
gevent~=24.11.1
zerorpc~=0.6.3
bottle~=0.13.2
lockfile~=0.12.2
zeroconf~=0.38.4
scp~=0.15.0
six~=1.17.0
uvicorn~=0.18.0
fastapi~=0.115.12
pydantic~=2.11.2
pyswarm~=0.6
parameterized~=0.9.0
